@inject IJSRuntime JS
@rendermode InteractiveServer
@page "/component"

<h3>Component</h3>
<div class="row">
	<div class="col-md-3">
		<BootStrapCard EventClick="@((e) => EventClickCardOne(e))"
					   title="Título do Cartão 1"
					   Description="Este é um cartão"
					   ButtonText="Comprar" />
	</div>

	<div class="col-md-3">
		<BootStrapCard EventClick="EventClickCardTwo"
					   title="Título do Cartão 2"
					   Description="Este é um cartão"
					   ButtonText="Comprar" />
	</div>

	<div class="col-md-3">
		<CascadingValue Name="CardHeaderButtonText" Value="@("Cadastrar")">
			<BootStrapCard>
				<CardHeader>
					Cabeçalho
				</CardHeader>
				<CardText>
					Conteúdo
				</CardText>
				<CardFooter>
					Rodapé
				</CardFooter>
			</BootStrapCard>
		</CascadingValue>
	</div>

</div>

<div class="row">
	<div class="col-md-3">
		<InputString PlaceHolder="Digite seu Texto" class="form-control" maxlength="5" autocomplete="off"/>
	</div>
</div>




@code {
	private string ButtonText = "Cadastrar";
	public void EventClickCardOne(MouseEventArgs args)
	{
		JS.InvokeVoidAsync("alert", "Card 1" + args.ScreenY);

	}

	public void EventClickCardTwo()
	{
		JS.InvokeVoidAsync("alert", "Card 2");
	}

	
}
