@page "/form/data"
@rendermode InteractiveServer
<h3>FormData</h3>

@if (Mensagem is not null)
{
	<div class="alert alert-info">
		@Mensagem
	</div>
}

<EditForm Model="User" OnSubmit="Acessar" FormName="login">
	<DataAnnotationsValidator/>
	<ValidationSummary/>
	<div class="row">
		<div class="col-12">
			<label for="email">E-mail</label>
			<InputText id="email" @bind-Value="User.Email" class="form-control"/>
			<ValidationMessage For="()=> User.Email"/>
		</div>
		<div class="col-12">
			<label for="senha">Senha</label>
			<InputText type="password" id="senha" @bind-Value="User.Password" class="form-control" />
			<ValidationMessage For="() => User.Password" />

		</div>
		<div class="col-12 mt-3">
			<button type="submit" class="btn btn-outline-primary">Acessar</button>
		</div>
	</div>
</EditForm>

@code {
	public string? Mensagem { get; set; }
	public User User { get; set; } = new User();

	public void Acessar(EditContext context)
	{
		//TODO - Validar
		if (context.Validate())
		{
			Mensagem = $"Acessando ... Email: {User.Email} - Senha: {User.Password}";

		}

		//TODO - Consultar DB | Consultar API
		//Mensagem = $"Email: {User.Email} - Senha: {User.Password}";
	}
}
