@page "/router"
@page "/routing"

@page "/router/{group?}/{id:int?}"

@page "/routing/{*all}"

@attribute [Route(RoutersConstants.RouterHub)]

@inject NavigationManager Navigation
@rendermode InteractiveServer

<h3>RouterHub</h3>
<div>
	Group: @Group
	<br />
	Id: @Id
	<br />
	Todos:@All
	<br />
	(QueryString: @Name - @NameTwo)
	<br />
	<input class="form-control" @bind="Router" />
	<br />
	<button class="btn btn-primary" @onclick="OnClick">Navigate</button>
</div>


@code {

	public string? Router { get; set; }

	[Parameter]
	public string? All { get; set; }
	[Parameter]
	public string? Group { get; set; }
	[Parameter]
	public int? Id { get; set; }

	[SupplyParameterFromQuery]
	public string? Name { get; set; }

	[SupplyParameterFromQuery(Name = "dono")]
	public string? NameTwo { get; set; }

	public void OnClick()
	{
		if (string.IsNullOrWhiteSpace(Router))
			Navigation.NavigateTo(Router);
	}
}
